.banner{
    height: 500px;
    margin: 50px 220px;
    border-radius: 30px;
}
.heading{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 3px;
    font-size: 80px;
}